<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="userRoleApp">
<div ng-controller="userRoleCtrl">
    <div style="margin-left:30px;margin-bottom: 10px">
        <button ng-click="userroleSubmit()" class="btn btn-success">授予角色</button>
        <button ng-click="userroleBack()" class="btn btn-gray">取消</button>
    </div>
    <div style="width: 400px;height: 800px;overflow-y: auto;">

        <div  id="roleTree">

        </div>
    </div>
</div>

</body>

</html>