<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知识库</title>
    <style>
        .myRow {
            width: 100%;
        }

        .myContainer {
            width: 98%;
            margin: 10px auto;
        }

        .column {
            padding: 0px;
        }

        b {
            color: red;
        }
    </style>
</head>
<body>
<div ng-app="search">
    <div class="myContainer" ng-controller="searchController">
        <div class="myRow">
            <div class="col-lg-8 col-lg-offset-1 column">
                <div class="form-group">
                    <input id="keyWord" type="text" ng-model="keyWord" class="form-control" placeholder="请输入关键字"
                           style="height: 38px"/>
                </div>
            </div>
            <div class="col-lg-2 column">
                <div class="btn-group">
                    <button class="btn btn-primary" ng-click="search()">搜索</button>
                    <button class="btn btn-primary" ng-click="keyWord=''">清空</button>
                </div>
            </div>
        </div>
        <div class="myRow" ng-show="displayResult">
            <div class="col-lg-2 col-lg-offset-9 column">
                <select style="width: 50%" ng-model="orderBy" ng-change="search(response.data.page)">
                    <option value="1">相关度</option>
                    <option value="2">查看次数</option>
                    <option value="3">相关度和查看次数</option>
                </select>
                <select style="width: 50%" ng-model="order" ng-change="search(response.data.page)">
                    <option value="1">升序</option>
                    <option value="2">降序</option>
                </select>
            </div>
        </div>
        <div class="myRow" ng-show="displayResult">
            <div class="col-lg-10 col-lg-offset-1">
                <ul>
                    <li ng-repeat="result in response.data.list" class="resultItem">
                        <div class="result-header">
                            <h3><a href="index.html#!/knowledgeDetail.html?detailId={{result.id}}"
                                   ng-bind-html="getTrustedHtml(result.kTitle)"></a>
                            </h3>
                        </div>
                        <div class="result-body" ng-bind-html="getTrustedHtml(result.kAnswer)">
                        </div>
                        <div class="result-footer">
                            查看次数:{{result.kUseCount}}&nbsp;&nbsp;
                            相关程度:{{result.score}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="myRow" ng-show="displayResult">
            <div class="col-lg-12" style="text-align: center">
                <ul class="pagination">
                    <li><a style="width:42px;height: 42px;padding:0px;line-height:42px"
                           ng-click="search(response.data.pageNum-1)"
                    >&laquo;</a></li>
                    <li ng-repeat="pager in pagers" ng-class="isActive(pager)"><a ng-click="search(pager)"
                                                                                  style="width:42px;height: 42px;padding:0px;line-height:42px">{{pager}}</a>
                    </li>
                    <li><a style="width:42px;height: 42px;padding:0px;line-height:42px"
                           ng-click="search(response.data.pageNum+1)"
                    >&raquo;</a></li>
                    <li style="width:42px;height: 42px;padding:0px;line-height:42px">共{{response.data.pages}}页</li>
                    <li><input type="number" style="height: 32px;width: 60px;padding:0px" ng-model="jumpToPage"
                    ></li>
                    <li>
                        <button class="btn btn-primary" ng-click="search(jumpToPage)">跳转</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>